body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 25%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

