<!DOCTYPE html> 
<html lang="en"> 
<head> 
<meta charset="UTF-8"> 
<title>My Website - About</title> 
</head> 
<body> 
<h1>Daniel</h1> 
<p>I’m a university student majoring in computer science, and I spend a lot of my time working through challenging assignments and 
    learning how things work under the hood of technology. I enjoy problem-solving through coding, especially when I finally crack a bug 
    or understand a new algorithm. Studying computer science feels like more than just earning a degree, to me, it’s building the skills 
    I’ll use to create practical and innovative solutions in the future.</p> 
</body> 
</html>